{% extends 'base.html' %}

{% load staticfiles %}

{% block title %}About{% endblock %}

{% block body_block %}

    <div class="page-header">
        <h1>About</h1>
    </div>

    <div>
        <p>This is <strong>Rango's About Page.</strong></p>
        <p>You've visited this site on <strong>{{ visits }} occasion(s)</strong>.</p>
        <p>Here's a picture of Rango:</p>
        <img  width="50%" height="100%" src="{% static "images/rango.jpg" %}" alt="Picture of Rango" /> <!-- New line -->
    </div>

{% endblock %}